{% extends 'main.html' %}
{% block title %}상세페이지{% endblock %}
{% block content %}
<head>
    {% load static %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'page.css' %}">
</head>
<div>
    <h3 class="text-center mb-4">게시판 상세 페이지</h3>
    <table class="text-center table table-bordered border-primary w-50" align="center">
        <tr>
            <th>제목</th>
            <td>{{ routine_info.제목 }}</td>
        </tr>
        <tr>
            <th>수정일</th>
            <td>{{ routine_info.수정일 }}</td>
        </tr>
        <tr>
            <th>내용</th>
            <td><textarea class="form-control" style="resize:none" rows="10" disabled>{{ routine_info.내용 }}</textarea>
            </td>
        </tr>
        <tr>
            <th>유튜브</th>
            <td>
                <iframe id="player" width="320" height="180" src="" frameborder="0" allowfullscreen></iframe>
            </td>
        </tr>
        <tr>
            <th class="align-middle">파일</th>
            <td>
                <ul class="list-group">
                    {% for x in dirList %}
                    <li class="list-group-item">
                        <a href='/routine_info/download/{{routine_info.id}}/{{x}}'>
                            {{ x }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {% load static %}
                <button type="button" onclick="location.href='/routine_info/good/{{routine_info.id}}/'">
                    <img src='{% static "good.png" %}' width="20px"><br>
                    {{ routine_info.좋아요 }}
                </button>
                <button type="button" onclick="location.href='/routine_info/hate/{{routine_info.id}}/'">
                    <img src='{% static "hate.png" %}' width="20px"><br>
                    {{ routine_info.싫어요 }}
                </button>
            </td>
        </tr>
    </table>
</div>
<div>
    <table class="table w-50" align="center">
        {% for i in reply %}
        <tr>
            <td width="30%">{{ i.작성일 | date:'Y-m-d' }}</td>
            <td width="40%">{{ i.내용 }}</td>
            <td width="10%">{{ i.작성자 }}</td>
            {% if user.username == i.작성자 %}
            <td style="float:right;">
                <a href='/routine_info/delreply/{{routine_info.id}}/{{i.id}}' style="text-decoration: none;">
                    <button class="btn btn-secondary btn-sm">삭제</button></a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    <div class="text-center">
        <form action="/routine_info/addreply/{{ routine_info.id }}/">
            <legend>
                <span style="width:10%;display: inline-block;">댓글 </span>
                <input type="text" name="reply" class="form-control" style="width:30%;display: inline-block;">
                <button type="submit" class="btn btn-secondary" style="margin-left: 10px;">등록</button>
            </legend>
        </form>
    </div>
    <div class="d-flex justify-content-center" style="clear:both;">
        {% if user.username == routine_info.작성자 %}
        <button type='button' class="btn btn-secondary btn-lg mx-2"
            onclick="document.location.href='/routine_info/{{routine_info.id}}/update/'">
            수정</button>
        <button type='button' class="btn btn-secondary btn-lg  mx-2"
            onclick="document.location.href='/routine_info/{{routine_info.id}}/delete/'">
            삭제</button>
        <button type='button' class="btn btn-secondary btn-lg  mx-2"
            onclick="document.location.href='/routine_info/page/1'">
            목록</button>
        {% endif %}
    </div>
</div>
<script>
    var videoUrl = "{{ video.video_url }}";
    var videoId = videoUrl.split('v=')[1];
    var ampersandPosition = videoId.indexOf('&');
    if (ampersandPosition != -1) {
        videoId = videoId.substring(0, ampersandPosition);
    }
    document.getElementById('player').src = "https://www.youtube.com/embed/" + videoId;

    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";

    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    var player;
    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
            }
        });
    }

    function onPlayerReady(event) {
        event.target.playVideo();
    }

    function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.ENDED) {
            // Video playback ended
        }
    }
</script>
{% endblock %}