{% extends 'main.html' %}
{% block title %}Document{% endblock %}
{% block content %}
<head>
    {% load static %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'page.css' %}">
</head>
<div class="container mt-5" >
    <div class="row">
        <!-- Left side: 게시판 -->
        <div class="col-md-6">
    <h1 class="text-center mb-3" style="color:black; margin-top: 30px;">운동일지</h1>
    {% include 'search.html' %}
    <div style="height: 480px;">
        <table class="table table-bordered border-primary text-center" style="width: 100%; margin: 0 auto;">
            <thead class="thead-dark">
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>조회수</th>
                    <th>댓글수</th>
                    <th>좋아요</th>
                    <th>싫어요</th>
                </tr>
            </thead>
            <tbody>
                {% for value in workout_diary %}
                    <tr>
                        <td>{{ value.id }}</td>
                        <td><a href='{% url "WD:D" value.id %}'><span class="d-inline-block text-truncate" style="max-width: 100px;">{{ value.제목 }}</span></a></td>
                        <td>{{ value.작성자 }}</td>
                        <td>{{ value.조회수 }}</td>
                        <td>{{ value.댓글수 }}</td>
                        <td>{{ value.좋아요 }}</td>
                        <td>{{ value.싫어요 }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <ul class="pagination d-flex justify-content-center mt-5">
        {% if workout_diary.has_previous %}
            <li class="page-item">
                <a href="/workout_diary/page/{{ workout_diary.previous }}/" class="page-link">Previous</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a href="#" class="page-link">Previous</a>
            </li>
        {% endif %}
        {% for i in page_num %}
            {% if workout_diary.number == i %}
                <li class="page-item active"><a href="/workout_diary/page/{{i}}/" class="page-link">{{i}}</a></li>
            {% else %}
                <li class="page-item"><a href="/workout_diary/page/{{i}}/" class="page-link">{{i}}</a></li>
            {% endif %}
        {% endfor %}
        {% if workout_diary.has_next %}
            <li class="page-item">
                <a href="/workout_diary/page/{{ workout_diary.next_page_number }}/" class="page-link">Next</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a href="#" class="page-link">Next</a>
            </li>
        {% endif %}
    </ul>
    <div class="d-flex justify-content-center mt-1">
        {% if user.is_active %}
            <button type="button" class="btn btn-dark btn-lg" onclick="document.location.href='/workout_diary/add/'">글쓰기</button>
        {% endif %}
    </div>
</div>
<!-- Right side: 사진 -->
<div class="col-md-6 d-flex align-items-center justify-content-center">
    <img src="{% static 'love.png' %}" alt="Image" class="img-fluid" style="width: 100%; max-width: 500px; height: auto;">
</div>
</div>
</div>
{% endblock %}

{% block head %}
<style>
    .form-select-lg {
        width: auto;
        font-size: 1rem;
    }
    .form-control {
        width: 300px;
    }
    .btn-primary {
        white-space: nowrap;
        font-size: 1rem;
    }
</style>
{% endblock %}