{% extends 'main.html' %}
{% block title %}상세페이지{% endblock %}
{% block content %}
<head>
    {% load static %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'page.css' %}">
</head>
<div>
    <h3 class="text-center mb-4">게시판 상세 페이지</h3>
    <table class="text-center table table-bordered border-primary w-50"
         align="center">
        <tr>
            <th>제목</th>
            <td>{{ advice.제목 }}</td>
        </tr>
        <tr>
            <th>수정일</th>
            <td>{{ advice.수정일 }}</td>
        </tr>
        <tr>
            <th>내용</th>
            <td><textarea class="form-control" style="resize:none" 
                rows="10" disabled>{{ advice.내용 }}</textarea></td>
        </tr>
        <tr>
            <th class="align-middle">이미지</th>
            <td>
                <ul class="list-group">
                    {% for x in dirList %}
                    <li class="list-group-item">
                        <a href='/advice/download/{{advice.id}}/{{x}}'>
                            <img src="/advice/download/{{advice.id}}/{{x}}" width="50%";>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {% load static %}
                <button type="button" onclick="location.href='/advice/good/{{advice.id}}/'">
                    <img src='{% static "good.png" %}' width="20px"><br>
                    {{ advice.좋아요 }}
                </button>
                <button type="button" onclick="location.href='/advice/hate/{{advice.id}}/'">
                    <img src='{% static "hate.png" %}' width="20px"><br>
                    {{ advice.싫어요 }}
                </button>            
            </td>
        </tr>
    </table>
</div>
<div>
    <table class="table w-50" align="center">
        {% for i in reply %}
            <tr>
                <td width="30%">{{ i.작성일 | date:'Y-m-d' }}</td>
                <td width="40%">{{ i.내용 }}</td>
                <td width="10%">{{ i.작성자 }}</td>
                {% if user.username == i.작성자 %}
                <td style="float:right;">
                    <a href='/advice/delreply/{{advice.id}}/{{i.id}}' 
                    style="text-decoration: none;">
                    <button class="btn btn-secondary btn-sm">삭제</button></a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

    <div class="text-center">
        <form action="/advice/addreply/{{ advice.id }}/">
            <legend>
            <span style="width:10%;display: inline-block;">댓글 </span>
            <input type="text" name="reply" class="form-control" style="width:30%;display: inline-block;"> 
            <button type="submit" class="btn btn-secondary" style="margin-left: 10px;">등록</button>
            </legend>
        </form>
    </div>
    <div class="d-flex justify-content-center" style="clear:both;">
        {% if user.username == advice.작성자 %}
        <button type='button' class="btn btn-secondary btn-lg mx-2"
            onclick="document.location.href='/advice/{{advice.id}}/update/'">
            수정</button>
        <button type='button' class="btn btn-secondary btn-lg  mx-2"
            onclick="document.location.href='/advice/{{advice.id}}/delete/'">
            삭제</button>
        <button type='button' class="btn btn-secondary btn-lg  mx-2"
            onclick="document.location.href='/advice/page/1'">
            목록</button>
        {% endif %}
    </div>
    </div>
{% endblock %}