{% extends 'main.html' %}
{% block title %}Document{% endblock %}
{% block content %}
    <h1 class="text-center mb-3" style="color:ivory; margin-top: 30px;">조언요청 게시판</h1>
    {% include 'search.html' %}
    <div style="height: 480px;" >
        <table class="table table-bordered border-primary text-center" style="width: 70%; margin: 0 auto;">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>조회수</th>
                    <th>댓글수</th>
                    <th>좋아요</th>
                    <th>싫어요</th>
                </tr>
            </thead>
            <tbody>
                {% for value in advice %}   
                    <tr>
                        <td>{{ value.id }}</td>
                        <td><a href='{% url "AD:D" value.id %}'><span class="d-inline-block text-truncate" style="max-width: 100px;">{{ value.제목 }}</span></a></td>
                        <td>{{ value.작성자 }}</td>
                        <td>{{ value.조회수 }}</td>
                        <td>{{ value.댓글수 }}</td>
                        <td>{{ value.좋아요 }}</td>
                        <td>{{ value.싫어요 }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <ul class="pagination d-flex justify-content-center mt-5">
        {% if advice.has_previous %}
            <li class="page-item">
                <a href="/advice/page/{{ advice.previous_page_number }}/" class="page-link">Previous</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a href="" class="page-link">Previous</a>
            </li>
        {% endif %}
        {% for i in page_num %}
            {% if advice.number == i %}
                <li class="page-item active"><a href="/advice/page/{{i}}/" class="page-link">{{i}}</a></li>    
            {% else %}
                <li class="page-item"><a href="/advice/page/{{i}}/" class="page-link">{{i}}</a></li>    
            {% endif %}
        {% endfor %}
        {% if advice.has_next %}
            <li class="page-item">
                <a href="/advice/page/{{ advice.next_page_number }}/" class="page-link">Next</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a href="" class="page-link">Next</a>
            </li>
        {% endif %}
    </ul>
    <div class="d-flex justify-content-center mt-5">
        {% if user.is_active %}
            <button type="button" class="btn btn-success btn-lg" onclick="document.location.href='/advice/add/'">글쓰기</button>
        {% endif %}
    </div>
{% endblock %}
